ul.transition {
  display: flex;
  position: fixed;
  z-index: 10000;
  height:100%;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  pointer-events:none;
}

ul.transition li{
  width: 20%;
  background:white;
  transform: scaleY(0);
}

ul.transition li:first-of-type{
  width: 20%;
  background:black;
  transform: scaleY(0);
}

ul.transition li:last-of-type{
  width: 20%;
  background:black;
  transform: scaleY(0);
}

ul.transition li:nth-of-type(2n){
  width: 20%;
  background:grey;
  transform: scaleY(0);
}
