ul.transition {
  display: flex;
  position: fixed;
  z-index: 10000;
  height:100%;
  width: 100vw;
  left: 0;
  bottom: 0;
  margin: 0;
  pointer-events:none;
}

ul.transition li{
  width: 20%;
  background:black;
  transform: scaleY(0);
}

ul.transition li:first-of-type{
  width: 20%;
  background:red;
  transform: scaleY(0);
}

ul.transition li:last-of-type{
  width: 20%;
  background:red;
  transform: scaleY(0);
}

ul.transition li:nth-of-type(2n){
  width: 20%;
  background:#f8ecde;
  transform: scaleY(0);
}


.transi-container
{
  background-color: $color-bg;
  height:100%;
  width: 100vw;
  left: 0;
  top: 0;
  display: block;
  position: fixed;
  z-index: 0;
  opacity: 0;

}



.left_container_transi
{
  position: fixed;
  height:100%;
  width: 50%;
  z-index: 200;
  background-color:black;
  display: block;
  top: 0;
  left: 0;
  transform: scaleY(0);
  opacity: 0;
  z-index: 0;
} 

.right_container_transi
{
  position: fixed;
  height:100%;
  width: 50%;
  z-index: 200;
  background-color:red;
  display: block;
  bottom: 0;
  right: 0;
  transform: scaleY(-100%);
  opacity: 0;
  z-index: 0;
}