@font-face {
    font-family: 'Sofia';
    src: url('../fonts/SofiaProBold.woff2') format('woff2'),
        url('../fonts/SofiaProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia';
    src: url('../fonts/SofiaProMedium-Italic.woff2') format('woff2'),
        url('../fonts/SofiaProMedium-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}






