body
{
	background-color: transparent;
	overflow-x: hidden;
}

header
{
	background-color: transparent;
	overflow: hidden;
}

.wrapper {
	padding:0 240px;
}

ul {
	list-style: none;
	display: flex;
	padding:0;
	margin-right: auto;
}



li a {
	margin-right: 2em;
}


.cta {
	display: block;
	padding: 2em 2em 2em 0;
	font-size: 1.4em;
}

img {
	width: 100%;
	// clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}



@media (min-width: 650px)
{
	main {
		display: flex;
		margin-top: 3em;
		position: relative;
		z-index: 3;
		flex-direction: column;
	}

	

	.left {
		padding-right: 2em;
	}

	img {
		width: 300px;
	}


	.cta {
		padding: 1em;
		background: white;
		position: absolute;
		z-index: 21;
		width: 80%;
		animation-fill-mode:initial;
	}
}


#outerCircleText {
	font-style: italic;
	font-weight: bold;
	color: #000;
	position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;
}
#outerCircleText div {position: relative;}
#outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}



:root {
	font-size: 15px;
}

body {
	margin: 0;
	color: $color-text;
	background-color: $color-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
}



a {
	text-decoration: none;
	color: $color-link;
	outline: none;
}

a:hover,
a:focus {
	color: $color-link-hover;
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	line-height: 1;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: 700;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: $color-text;
}

.menu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 8vw;
	counter-reset: menu;
}

.menu__item {
	cursor: default;
	position: relative;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1.5px #000;
	text-stroke: 1.5px #000;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
	height: 300px;
}

.menu__item-link::before {
	all: initial;
	font-family: sofia-pro, sans-serif;
	counter-increment: menu;
	content:  counter(menu);
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
	cursor: url('../../images/cursor.png'), auto;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
	cursor: url('../../images/cursor.png'), auto;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee span {
	text-align: center;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@media screen and (min-width: 53em) {
	.frame {
		text-align: left;
		display: grid;
		align-content: space-between;
		width: 100%;
		padding: 2.5rem 6vw;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto;
	}

	.frame__title-wrap {
		display: flex;
		align-items: start;
	}

	.frame__info {
		margin: 0;
	}

	.frame__title {
		margin: 0 1rem 0 0;
	}

	.frame__links {
		padding: 0;
		justify-self: end;
	}

	.frame a {
		pointer-events: auto;
	}
}


main 
{
	position: absolute;
	top: 0;
	left: 0;
}

div#page {
	display: none;
}

div.line_loader
{
transform: rotate(-3deg);
margin-top: 0.5vh;
margin-bottom: 0.5vh;
display: block;
margin-top: -50px;
}

div.column_loader_left
{
display: block;
transform: rotate(-90deg);
margin-right: -900px;
}

div.column_loader_right
{
display: block;
transform: rotate(-90deg);
margin-left: -900px;
}

div.column_loader_left_second
{
display: block;
transform: rotate(-90deg);
margin-right: -1800px;
}

div.column_loader_right_second
{
display: block;
transform: rotate(-90deg);
margin-left: -1500px;
margin-top: -600px;
}

div.text_loader 
{
	height: 150px;
}

p.add_style_loader
{
	font-size: 90px;
	font-family: $font_Sofia;
	font-style: italic;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	opacity: 0;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.preload-overlay {
	background-color: $color-bg;
	height: 100vh;
	left: 0;
    // overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;

    .container {
    	align-items: center;
    	display: none;
    	justify-content: center;
    	flex-direction: column;
    	height: 100vh;
    	width: 100vw;
    	z-index: 3;
    	position: absolute;
    	top: 0;
    	right: 0;
    	left: 0;
    	margin-left: auto;
    	margin-right: auto;

    	img {
    		width: 200px;
    		margin-bottom: 30px;
    	}

    	div.text_loader {
    		height: 42px;
    		overflow: hidden;
    		margin-top: 2vh;
    		margin-bottom: 2vh;
    		width: 100%;
			text-align: center;
    	}

    	span {
    		display: inline-block;
    		font-family: 'Roboto';
    		font-size: 30px;
    		line-height: 40px;
    		position: relative;
    		transform: translateY(100%);
    	}

    	& span:nth-child(3) {
    		font-weight: bold;
    	}
    }
}





@media only screen and (max-width: 800px) {
p.add_style_loader
{
	font-size: 50px;
	font-family: $font_Sofia;
	font-style: italic;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	opacity: 0;
	margin-bottom: 5vh;
}

}
@media only screen and (max-width: 480px) {
	.preload-overlay {
		width: 100vw;

		.container {

			img {
				width: 100px;
				margin-bottom: 30px;
			}

			div.text_loader {
				display: inline-block;
				height: 31px;
				overflow: hidden;
				text-align: center;
				width: 100%;

			}

			span {
				font-size: 17px;
			}

			#feature {
				display: none;
			}

		}
	}
}




#cursor {
	align-items: center;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 110%;
	border: 1px solid transparent;
	border-radius: 50%;
	color: white;
	display: flex;
	font-family: 'Roboto';
	font-size: 10px;
	height: 50px;
	justify-content: center;
	left: 50%;
	margin: 15px 0 0 15px;
	pointer-events: none;
	position: fixed;
	top: 50%;
	width: 50px;
	z-index: 199;
    // transition: background 0.2s ease-out;
    opacity: 0;
// display: none;

}

@media only screen and (max-width: 480px) {
	#cursor {
		display: none;
	}
}


body {
	background-color: #F2F2F2;
	cursor: url('../../images/cursor.png'), auto;
}




a {
	cursor: url('../../images/cursor.png'), auto;
}



