/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";



$color-text: #111;
$color-bg: #f8ecde;
$color-link: #b19e7f;
$color-link-hover: #000;


$font_Sofia:'Sofia';
$font_Karla : 'Karla';