
h1.title_contact
{
	font-size: 120px;
	margin-top: 0;
	color: red;
	font-family: $font_Sofia;
	text-align: center;
	width: 100%;
	margin-top: 5vh;
	margin-bottom: 5vh;
}


div.title 
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.line
{
	width: 100%;
	display: flex;
}

div.call
{
	width: 100%;
	display: flex;
	justify-content: center;
}	


a.contact
{
	display: block;
color: red;
overflow: visible;
height: auto;
}

a.phone
{
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-family: $font_Sofia;
	margin-bottom: 15vh;
	height: auto;
	color: black;
	
}





@media screen and (max-width: 1820px) {

h1.title_contact
{
	font-size: 100px;

}

}

@media screen and (max-width: 1620px) {
a.phone {
    margin-bottom: 1vh;
}
}

@media screen and (max-width: 1550px) {

h1.title_contact
{
	font-size: 80px;
	margin-top: 10vh;
	margin-bottom: 10vh;

}

a.phone
{
	font-size: 30px;	
}

p.add_style {
    font-size: 60px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


}

@media screen and (max-width: 1200px) {

h1.title_contact
{
	font-size: 60px;
	margin-top: 10vh;
	margin-bottom: 10vh;

}

a.phone
{
	font-size: 25px;	
}

p.add_style {
    font-size: 40px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

}

@media screen and (max-width: 895px) {

h1.title_contact
{
	font-size: 40px;
	margin-top: 10vh;
	margin-bottom: 10vh;

}

a.phone
{
	font-size: 23px;	
}

p.add_style {
    font-size: 27px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

}


@media screen and (max-width: 610px) {

h1.title_contact
{
	font-size: 30px;
	margin-top: 10vh;
	margin-bottom: 10vh;

}

a.phone
{
	font-size: 20px;	
}

p.add_style {
    font-size: 22px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

}

@media screen and (max-width: 460px) {

h1.title_contact
{
	font-size: 23px;
	margin-top: 40vh;
	margin-bottom: 20vh;

}

a.phone
{
	font-size: 18px;	
}

p.add_style {
    font-size: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: none;
}

div.line 
{
	max-width: 100vw;
}

}