.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}


body.open 
{
	overflow: hidden;
}

.ep-menu-deco {
	position: relative;
	height: 32px;
	width: 32px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: auto;
	z-index: 55;
}

.ep-menu-deco-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-deco-point-isTopLeft, .menu-deco-point-isTop, .menu-deco-point-isTopRight, .menu-deco-point-isMiddleLeft, .menu-deco-point-isMiddle, .menu-deco-point-isMiddleRight, .menu-deco-point-isBottomLeft, .menu-deco-point-isBottom, .menu-deco-point-isBottomRight {
	width: 5px;
	height: 5px;
	background-color: blue;
	transition: .2s background-color ease-in-out, .2s transform ease-in-out;
}

.ep-menu-deco.open {
	z-index: 53;
	.menu-deco-point-isTop {
		transform: translate(-7px, 7px);
		background-color: $color-bg;
	}

	.menu-deco-point-isMiddleLeft {
		transform: translate(7px, 7px);
		background-color: $color-bg;
	}

	.menu-deco-point-isMiddleRight {
		transform: translate(-7px, -7px);
		background-color: $color-bg;
	}

	.menu-deco-point-isBottom {
		transform: translate(7px, -7px);
		background-color: $color-bg;
	}

	.menu-deco-point-isTopLeft,.menu-deco-point-isTopRight,.menu-deco-point-isMiddle,.menu-deco-point-isBottomLeft,.menu-deco-point-isBottomRight {
		background-color: blue;
	}

}


.ep-header-wrapper
{
	width: 80%;
	margin: 0 auto;
	max-width: 1920px;
}


.ep-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	padding-top: 4vh;
	margin-left: auto;
}


.ep-menu {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	transform:translateX(0);
				 -webkit-transition: transform 0.8s ease-out;
			  -moz-transition: transform 0.8s ease-out;
			  -o-transition: transform 0.8s ease-out;
			  transition: transform 0.8s ease-out;
	z-index: 52;
	background-color: $color-bg;
	overflow: hidden;
}

.ep-menu.open {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
 transform:translateX(100%);
	z-index: 51;
	overflow: hidden;
}

	
:root {
	font-size: 15px;
}

body {
	margin: 0;
	color: $color-text;
	background-color: $color-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
}


a {
	text-decoration: none;
	color: $color-link;
	outline: none;
}

a:hover,
a:focus {
	color: $color-link-hover;
	outline: none;
	text-decoration: none;
}

.frame_hover {
	padding: 1rem 3vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	line-height: 1;
}

.frame__title_hover {
	font-size: 0.5rem;
	margin: 0 0 0.5rem;
	font-weight: 700;
}

.frame__links_hover {
	display: inline;
}

.frame__links_hover a:not(:last-child),
.frame__demos_hover a:not(:last-child) {
	margin-right: 0.5rem;
}

.frame__demos_hover {
	margin: 0.5rem 0;
}

.frame__demo--current_hover,
.frame__demo--current:hover_hover {
	color: $color-text;
}

.menu_hover {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 6vw;
	counter-reset: menu;
	margin: 4.5% 0 0 0;
}

.menu__item_hover {
	cursor: default;
	position: relative;
}

.menu__item-link_hover {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1.5px #000;
	text-stroke: 1.5px #000;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
	height: 140px;
	 cursor: url('../../images/cursor.png'), auto;
}


.menu__item-link_hover:hover {
	transition-duration: 0.1s;
	opacity: 0;
	 cursor: url('../../images/cursor.png'), auto;
}

.menu__item-img_hover {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 300px;
	opacity: 0;
	left: 95%;
	top: 25%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.menu__item-link_hover:hover + .menu__item-img_hover {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
	 cursor: url('../../images/cursor.png'), auto;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee_hover {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.marquee__inner_hover {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.menu__item-link_hover:hover ~ .marquee_hover .marquee__inner_hover {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marquee_hover span {
	text-align: center;
}

.menu__item-link_hover,
.marquee_hover span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
	margin-bottom: 15VH;
	margin-top: 1vh;
}

.marquee_hover span {
	font-style: italic;
}

@keyframes marquee_hover {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@media screen and (min-width: 53em) {
	.frame_hover {
		text-align: left;
		display: grid;
		align-content: space-between;
		width: 100%;
		padding: 2.2rem 5vw;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto;
	}

	.frame__title-wrap_hover {
		display: flex;
		align-items: start;
	}

	.frame__info_hover {
		margin: 0;
	}

	.frame__title_hover {
		margin: 0 1rem 0 0;
	}

	.frame__links_hover {
		padding: 0;
		justify-self: end;
	}

	.frame_hover a {
		pointer-events: auto;
	}
}

@media screen and (max-width: 480px) {
.menu__item-link_hover,
.marquee_hover span {
  font-size: 50px;
  margin-bottom: 5vh;
  margin-top: 10vh;
  height: 15vh;
}
.menu__item-img_hover {
    width: 100px;
    max-height: 100px;
    top: 45%;
    height: 70px;
}



}