html 
{
	background-color: $color-bg;
}

h1.title 
{
	font-size: 100px;
	font-family: $font_Sofia;
	color: black;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

p.presentation 
{
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 100px;
	font-family: $font_Karla;
	color: black;
}

p.anecdote 
{
	font-size: 24px;
	margin-bottom: 20px;
	width: 90%;
	font-family: $font_Karla;
	color: black;
}

span.iut,span.mmi 
{
	font-weight: bold;
}

a.link 
{
	font-size: 30px;
	font-weight: bold;
	height: auto;
}