h1.title 
{
	font-size: 100px;
	font-family: $font_Sofia;
	color: black;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

p.presentation 
{
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 100px;
	font-family: $font_Karla;
	color: black;
}

p.anecdote 
{
	margin-bottom: 20px;
	width: 80%;
	font-family: $font_Karla;
	color: black;
}