html 
{
	background-color: $color-bg;
}

h1.title 
{
	font-size: 100px;
	font-family: $font_Sofia;
	color: black;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

p.presentation 
{
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 100px;
	font-family: $font_Karla;
	color: black;
}

p.anecdote 
{
	font-size: 24px;
	margin-bottom: 20px;
	width: 90%;
	font-family: $font_Karla;
	color: black;
}

span.iut,span.mmi 
{
	font-weight: bold;
}

a.link 
{
	font-size: 30px;
	font-weight: bold;
	height: auto;
}



@media screen and (max-width: 1725px) {

	div.wrapper{
		padding:0 120px;
	}
}

@media screen and (max-width: 1610px) {
h1.title {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

}


@media screen and (max-width: 1550px) {
p.presentation {
    margin-bottom: 50px;
}
}

@media screen and (max-width: 1460px) {

	h1.title 
	{
		font-size: 80px;
	}

	p.presentation 
	{
		font-size: 25px;
	}

	a.link 
	{
		font-size: 25px;
	}

	p.anecdote 
	{
		font-size: 22px;
	}
}


@media screen and (max-width: 1200px) {

	h1.title 
	{
		font-size: 70px;
	}

	p.presentation 
	{
		font-size: 22px;
		margin-bottom: 30px;
	}

	a.link 
	{
		font-size: 22px;
	}

	p.anecdote 
	{
		font-size: 20px;
		margin-bottom: 10px;
	}

	div.wrapper{
		padding:0 80px;
	}


}


@media screen and (max-width: 800px) {

	h1.title 
	{
		font-size: 60px;
		margin-top: 2.5vh;
		margin-bottom: 2.5vh;
	}

	p.presentation 
	{
		font-size: 18px;
		margin-bottom: 60px;
	}
	a.link 
	{
		font-size: 18px;
	}

	p.anecdote 
	{
		font-size: 15px;
		margin-bottom: 20px;
	}

	div.wrapper{
		padding:0 50px;
	}
}




@media screen and (max-width: 430px) {

	h1.title 
	{
		font-size: 50px;
		margin-top: 2.5vh;
		margin-bottom: 6vh;
	}

	p.presentation 
	{
		font-size: 17px;
		margin-bottom: 100px;
		line-height: 1.2;
	}
	a.link 
	{
		font-size: 17px;
	}

	p.anecdote 
	{
		font-size: 14px;
		margin-bottom: 50px;
	}

	div.wrapper{
		padding:0 25px;
		max-width: 100vw;
	}

	div.line-loader,.column_loader_left,.column_loader_left_second,.column_loader_right,.column_loader_right_second
	{
		display: none;
	}

	main
	{
		overflow: hidden;
	}


}


@media screen and (max-width: 500px) {
	html,body,div.wrapper {
		overflow-x: hidden!important;
	}
}

@media screen and (max-width: 375px) {
p.anecdote 
	{
		margin-bottom: 30px;
	}

	p.presentation 
	{
		margin-bottom: 50px;
		line-height: 1.3;
	}

	body {
		overflow-x: hidden;
	}
}